body {
  font-family: 'Zilla Slab', serif;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #f8e12e;
}

p {
  margin: 0;
  padding: 0;
}

canvas { 
  /* click-through */
  pointer-events: none;
  position: absolute;
  display: block;
  z-index: 0;
}

.content {
  overflow-y: scroll;
}

.top-grid-row {
  padding-top: 50px;
}

.links-row {
	padding-top: 20px;
}

.links-row a {
	color: black;
	cursor: pointer;
}

.links-row a:hover {
	color: grey;
}

.pic-grid-cell {
  text-align: center;
}

img.logo {
  width: 100%;
}

img.grid {
  width: 70%;
}

.rsvp {
  max-height: 350px;
  max-width: 350px;
}

@media (min-width:641px) {
  .rsvp {
    max-height: 450px;
    max-width: 450px;
  }
}


img.rsvp-graphics {
  width: 100%;
}

#contact-links {
  position: relative;
  top: -40px;
  z-index: -1;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
  display: none;
}

#contact-links a {
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

#contact-links a:hover {
  color: darkgrey;
}

/* RSVP */

#rsvp-msg {
  color: black;
  font-size: 22px;
  padding-top: 10px;
}

#rsvp-msg a {
  color: grey;
}

#rsvp-msg a:hover {
  color: darkgrey;
}
